VITE_SUPABASE_URL=https://lfxebxpxqfstmyznhjsp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmeGVieHB4cWZzdG15em5oanNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMzMxODQsImV4cCI6MjA4NzcwOTE4NH0.zo3k2RzXr8Fa23HJrFX_3JiRyP36Wv-4XbzUV41GVxg
